body {
  }

h1 {
  font-family: arial;
color: black;
margin-left: 200px
  }

h3 {
font-family: arial;
color: black;
margin-left: 200px
  }

p{
font-family: arial;
color: black;
margin-left: 200px
  }

div {
  font-family: arial;
   }

#columns{
  background-color: lightblue;
  -webkit-column-count:3; /* Chrome, Safari, Opera */
  -moz-column-count:3;/* Firefox */
  column-count:3;
  -webkit-column-gap:50px;/*Chrome, Safari, Opera */
   -moz-column-gap: 50px;/ * Firefox */
  column-gap:50px ;
  }

#diff-col{
  -webkit-column-count:3; /* Chrome, Safari, Opera */
  -moz-column-count:3;/* Firefox */
  column-count:3;
  -webkit-column-gap:50px;/* Chrome, Safari, Opera */
   -moz-column-gap: 50px;/ *Firefox*/
  column-gap:50px ;
  }

#diff-col .left-col{
  width: 30%
  padding: 10px;
  background-color : lightyellow;
  }
  
  #diff-col .mid-col{
  width: 30%
  padding: 10px;
  background-color: purple;
  }
    
    #diff-col .right-col{
  width: 30%
  padding: 10x;
  background-color: magenta;
  }
